body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.news-article {
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;

}

.news-article img {
    max-width:100%;
    max-height: 18rem;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.7rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.meta {
    font-size: small;
    font-style: italic ;
}